{% extends "lab_8/layout/base.html" %}

{% block content %}
<div id="lab8">
	<div id="welcome">
		<h1><strong>Halo!</strong></h1>
		<h4>Selamat Datang di Lab 8 Khalid</h4>
	</div>
	<div id="facebookLogin" >
	    <button id="facebookLoginButton" onclick="facebookLogin()"><strong>Login with Facebook</strong></button>
	</div>
</div>
{% endblock %}