<!-- Navbar -->
<div class="container-fullwidth">
  <nav class="navbar navbar-default navbar-fixed-top navbar-expand-lg navbar-light bg-light" role="navigation">
    <a class="navbar-brand" href="">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {% for i in "123456789" %}
          <li>
            {% if i|add:0 < 8 %}
              <a href="/lab-{{i}}/">Lab0{{i}}</a>
            {% else %}
              <a href="#">Lab0{{i}}</a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
      <div id="selectTheme">
        <select class="my-select"></select>
        <button class="apply-button">apply</button>
      </div>
    </div>
  </nav>
</div>