  <!-- Fixed navbar -->
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'lab-4:index' %}">Home</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          {% for i in "123456789" %}
                <li class="nav-item">
                  {% if i|add:0 < 9 %}
                    <a class="nav-link" href="/lab-{{i}}/">Lab0{{i}}</a>
                  {% else %}
                    <a class="nav-link" href="#">Lab0{{i}}</a>
                  {% endif %}
                </li>
              {% endfor %}
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>