<!-- Navbar -->
<div class="container-fullwidth">
  <nav class="navbar navbar-default navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {% for i in "123456789" %}
          <li class="nav-item">
            {% if i|add:0 < 10 %}
              <a class="nav-link" href="/lab-{{i}}/">Lab0{{i}}</a>
            {% else %}
              <a class="nav-link" href="#">Lab0{{i}}</a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
    
  </nav>
</div>