<nav class="navbar navbar-expand-lg navbar-dark bg-dark container-fluid sticky-top">
  <div class="container">
<a class="navbar-brand" href="{% url 'app_status:status' %}">ThinkedIn</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
{% with url_name=request.resolver_match.view_name %}
<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav ml-auto">
<li class="nav-item">
  <a class="nav-link {% if url_name == 'app_status:status' %}active{% endif %}" href="{% url 'app_status:status' %}">Status</a>
</li>
<li class="nav-item">
  <a class="nav-link {% if url_name == 'app_profile:profile' %}active{% endif %}" href="{% url 'app_profile:profile' %}">Profile</a>
</li>
<li class="nav-item">
  <a class="nav-link {% if url_name == 'app_addfriend:friends' %}active{% endif %}" href="{% url 'app_addfriend:friends' %}">Friends</a>
</li>
<li class="nav-item">
  <a class="nav-link {% if url_name == 'app_stats:stats' %}active{% endif %}" href="{% url 'app_stats:stats' %}">Stats</a>
</li>
</ul>
</div>
{% endwith %}
</div>
</nav>
