{% extends "lab_7/layout/base.html" %}

{% block content %}
    <section name="friend-list">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <h2> Fasilkom Friends </h2>
                    <div id="friend-list" class="list-group">
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascript %}
    <script>

        var hapus = function(pk){
            var nama_teman = $(`[id=${pk}]`).attr("name");
            var konfirmasi = confirm(`Kamu akan menghapus ${nama_teman} dari Friend List mu. Apakah kamu yakin?`);
            if (konfirmasi == true){
                $.ajax({
                    method: "GET",
                    url: `/lab-7/delete-friend/${pk}`,

                    success: function(data){
                        console.log(data);
                        $(`#${pk}`).remove()
                    },
                    error: function(error){
                        alert('error')
                    },
                });
            };               
        };
    
        var show_friend_list = function(data){
            for (i = 0; i < data.length; i++) { 
                name = data[i]['friend_name']
                npm = data[i]['npm'];
                pk = data[i]['pk'];
                html = `<p id="${pk}" name="${name}" class="list-group-item clearfix">${name} (${npm})<a class="float-right"><span onClick="hapus('${pk}')" class="btn btn-danger float-right">Hapus sebagai teman</span></a></p>`;
                $("#friend-list").append(html);
            };
        };

        var data;

        $( document ).ready(function () {
            // {# lengkapi pemanggilan ajax berikut untuk mengambil daftar teman yang ada di database #}
            $.ajax({
                method: "GET",
                url: "{% url 'lab-7:get-friend-list' %}", // update
                dataType: "json",
                success: function (data) {
                    // #tampilkan list teman ke halaman
                    // #hint : gunakan fungsi jquery append()
                    show_friend_list(data['results']);
                },
                error: function(error){
                    // #tampilkan pesan error
                    alert(error.responseText);
                }
            });
        });
    </script>
{% endblock %}
